.nav {

    &__container {
        background-color: rgba(128, 255, 93, 0.264);
        display: flex;
        max-width: 90%;
        height: 20vh;
        margin: auto;
        align-items: center;

        &__logo {
            background-color: aqua;
            padding-left: 5vw;
            flex: 6;

            img {
                height: 7vh;
            }
        }

        &__navlinks {
            background-color: rgba(49, 255, 255, 0.2);
            flex: 7;
            display: flex;
            justify-content: space-around;

            li {
                display: flex;
                font-family: $notoTC;

                i {
                    font-size: 1rem;
                    margin-right: -1.1rem;
                    transform: scale(0);
                    transition: 450ms;
                }

                &:hover i {
                    margin-right: 0;
                    display: block;
                    transform: scale(1.2);
                }

                a {
                    text-decoration: none;
                    color: $color__font;
                    font-size: 1.3rem;


                }
            }
        }
    }
}